---

layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.6"
  overlay_image: https://raw.githubusercontent.com/jiidata-science/jiidata-science.github.io/master/assets/images/site/DataBlog_titleImage.png
excerpt: "The purpose of this blog is to explore data science topics and techniques, keeping it light-hearted but interesting."
intro: 
  - excerpt: 'Take a look through my recent data science posts, exploring different data sources, techniques and tool kits.'
feature_row:

  - image_path: https://raw.githubusercontent.com/jiidata-science/jiidata-science.github.io/master/assets/images/posts/imdb/IMDb_homepage.png
    alt: "Post Logo - Imdb"
    title: "Exploring IMDb's top featured actors"
    excerpt: "Scraping, exploring & visualising most featured actors in IMDb’s Top 250 movies, with BeautifulSoup, Pandas & Plotly"
    url: "https://jiidata-science.github.io/Exploring-IMDb's-Most-Featured-Actors"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: https://raw.githubusercontent.com/jiidata-science/jiidata-science.github.io/master/assets/images/posts/datascientists/DataScientists_homepage.png
    alt: "Post Logo - Data Scientists"
    title: "What skills really differentiate data scientist from other data roles?"
    excerpt: "Analysis of the Data Science skills that the employment market is after, using the Reed.co.uk API, with Pandas, Plotly & Scikit-Learn"
    url: "https://jiidata-science.github.io/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: https://raw.githubusercontent.com/jiidata-science/jiidata-science.github.io/master/assets/images/posts/calibration/calib_homepage.png
    alt: "Post Logo - Calibration"
    title: "Improving probability estimation with calibration (coming soon)"
    excerpt: "We compare three different methods for improving accuracy of probability estimation through calibration, with Scikit Learn and more."
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}
